* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

html,
body {
  height: 100%;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #999;
}


header, div.card {
  background-color: white;
}

.max-width-wrapper {
  margin: 0 auto;
  max-width: 30rem;
}

header {
  padding-block-start: 2rem;
  padding-block-end: 1rem;
}

header, div.card {
  border-block-end: 5px solid #666;
}

div.intro-chunk {
  max-width: 18rem;
}

header p strong {
  color: #096;
}

main {
  padding-block: 3rem;
}

div.card {
  padding: 5px;
}

h1, p {
  padding-inline: 10px;
}

.indented-heading {
  margin-inline-start: -15px;
  border-block-end: 4px solid #cc9900;
  width: fit-content;
  padding: 10px 30px;
  font-size: 1rem;
  background-color: #ffbf00;
}
